// 60:30:10 Rule. 

// Override default variables before the import
$primary: #90CAF9;
$secondary: #757575; 
$success:  #A5D6A7; //light green 200 
$danger:  #FFAB91; //deeporange 200
$warning:  #FFE082; //orange 200
$info:  #80DEEA; //cyan 200
$dark: #212121; 

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "dark":       $dark
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';